main {
  height: 100%;
  width: 100%;
}
.pay {
  height: 100%;
  width: 50%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: $secondary-color;
  margin-top: 10%;
  margin-left: 25%;
  padding: 4rem;

  .title {
    text-align: center;
    text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
      0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  }

  &-form {
    &-single {
      text-align: center;
      margin: 2rem 0rem;
      input {
        width: 100%;
        border-radius: 0.5rem;
        border-style: none;
        line-height: 2.5rem;
        padding-left: 1rem;
      }
    }
    &-submit {
      margin: 3rem 0rem;
      border-radius: 0.5rem;
      align-items: center;
      width: 100%;
      line-height: 6rem;
      border-style: solid;
      border-color: $secondary-color;
      background-color: $primary-color;
      font-size: xx-large;
      font-weight: lighter;
      &:hover {
        @include transition-ease;
        color: set-text-color($primary-color);
        background-color: $secondary-color;
        font-weight: bolder;
      }
    }
  }
  &-total {
    text-align: center;
    font-weight: bolder;
  }
  &-total-empty {
    text-align: center;
    font-weight: lighter;
    text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
      0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  }
}
